<% content_for :title, "Editing professeur" %>

<h1>Editing professeur</h1>

<%= render "form", professeur: @professeur %>

<br>

<div>
  <%= link_to "Show this professeur", @professeur %> |
  <%= link_to "Back to professeurs", professeurs_path %>
</div>
