<div id="<%= dom_id class_room %>">
  <p>
    <strong>Numero classe:</strong>
    <%= class_room.numero_classe %>
  </p>

  <p>
    <strong>Professeur:</strong>
    <%= class_room.professeur_id %>
  </p>

  <p>
    <strong>Cours:</strong>
    <%= class_room.cours_id %>
  </p>

</div>
