<div id="<%= dom_id inscription %>">
  <p>
    <strong>Date inscription:</strong>
    <%= inscription.date_inscription %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= inscription.student_id %>
  </p>

  <p>
    <strong>Paiement:</strong>
    <%= inscription.paiement %>
  </p>

</div>
